<!-- bfp\templates\register.html -->

{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}
<div class="user-registration">
    <div class="page-header">
	<h2>Please Register</h2>
    </div>


    <form action="{{ url_for('users.user_register') }}" method="post">
    	{{ form.csrf_token }}
	<dl>
    	    {{ render_field(form.email, placeholder="Email address") }}
    	    {{ render_field(form.password, placeholder="Password") }}
    	    {{ render_field(form.confirm, placeholder="Confirm Password") }}
	</dl>
    	<button type="submit" class="btn btn-sm btn-success">Create New Account</button>
    </form>

</div> <!-- user-registration -->
{% endblock %}