<!-- bfp\books\templates\add_book.html -->

{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}
<div class="add-book">
    <div class="page-header">
	<h2>Add a New Book</h2>
    </div>


    <form action="{{ url_for('books.add_book') }}" method="post">
    	{{ form.csrf_token }}
	<dl>
    	    {{ render_field(form.book_title, placeholder="Book Title") }}
    	    {{ render_field(form.book_genre, placeholder="Book Genre") }}
	</dl>
    	<button type="submit" class="btn btn-sm btn-success">Add Book</button>
    </form>

</div> <!-- add-book -->
{% endblock %}